<div id="menu">
    <ol>
        <li><a href="/home/index">Home</a></li>      
        <li><a href="/activity_types">Activity Types</a></li>
        <li><a href="/activities">Activities</a></li> 
        <li><a href="/users">Users</a></li>       
    </ol>
</div>
<br clear="all" />